<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header><h1>Contact</h1></ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sem ante, laoreet sed iaculis a, elementum vitae ipsum. Vestibulum molestie consequat mi, quis ultrices orci commodo et. Nam mattis non est eu volutpat. Maecenas porttitor nibh ac accumsan convallis. Aenean pellentesque magna in elit malesuada, ac aliquet purus vulputate. Morbi facilisis felis ut dignissim luctus. Morbi eu augue dolor. Quisque mauris risus, iaculis id porttitor et, consectetur vel massa. Integer feugiat mattis dignissim. Maecenas dignissim velit tempus, tristique tellus ut, fringilla metus. Sed in interdum nibh, quis lacinia tortor. Suspendisse massa sapien, pretium ac pulvinar vel, suscipit nec diam. In sodales eros arcu, sit amet egestas libero finibus vitae. In vitae hendrerit turpis, sed sodales ipsum. Pellentesque dignissim ullamcorper neque, nec faucibus diam pharetra in. Maecenas sed justo id lectus pulvinar auctor id nec ex.</p>

      <ul>
        <li><ion-icon name="call"></ion-icon> Phone: <a href="tel:0612345678">06 12 34 56 78</a></li>
        <li><ion-icon name="home"></ion-icon> Address: 42 Rue de la libertée, 59123, Lille, France</li>
        <li><ion-icon name="mail"></ion-icon> Email: <a hreaf="mailto:admin@toto.fr">admin@toto.fr</a></li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>