<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header><h1>Welcome</h1></ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sem ante, laoreet sed iaculis a, elementum vitae ipsum. Vestibulum molestie consequat mi, quis ultrices orci commodo et. Nam mattis non est eu volutpat. Maecenas porttitor nibh ac accumsan convallis. Aenean pellentesque magna in elit malesuada, ac aliquet purus vulputate. Morbi facilisis felis ut dignissim luctus. Morbi eu augue dolor. Quisque mauris risus, iaculis id porttitor et, consectetur vel massa. Integer feugiat mattis dignissim. Maecenas dignissim velit tempus, tristique tellus ut, fringilla metus. Sed in interdum nibh, quis lacinia tortor. Suspendisse massa sapien, pretium ac pulvinar vel, suscipit nec diam. In sodales eros arcu, sit amet egestas libero finibus vitae. In vitae hendrerit turpis, sed sodales ipsum. Pellentesque dignissim ullamcorper neque, nec faucibus diam pharetra in. Maecenas sed justo id lectus pulvinar auctor id nec ex.</p>
      <p></p>
      <p>Suspendisse potenti. Nunc ornare neque odio, id maximus est posuere nec. Aliquam mollis ac sapien ut ultrices. Praesent tincidunt dui eu varius euismod. Fusce nec lorem nisi. Cras non blandit turpis, at finibus tellus. Quisque euismod porttitor dui, vel posuere diam condimentum tempor. Mauris sed risus est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus posuere, lacus et condimentum molestie, tortor ante egestas mauris, et laoreet nisi odio et lacus. Aliquam interdum augue sed velit interdum posuere. Praesent venenatis risus mi, nec pretium orci gravida non. Cras tristique varius ex a varius. Nam quis turpis eget dui varius dignissim id sed dolor.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
